/* colors from https://lospec.com/palette-list/2bit-demichrome */
:root {
  --color0: #211e20;
  --color1: #555568;
  --color2: #a0a08b;
  --color3: #e9efec;
  --unit: 8px;
}

html {
  background-color: var(--color0);
  color: var(--color3);
  font-family: "Lucida Console";
}

h1 {
  font-size: calc(var(--unit) * 4);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

h2 {
  font-size: calc(var(--unit) * 3);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

h3 {
  font-size: calc(var(--unit) * 2);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

p {
  transition: color 0.5s, background-color 0.5s;
  font-size: calc(var(--unit) * 2);
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

span {
  transition: color 0.5s, background-color 0.5s;
  font-size: calc(var(--unit) * 2);
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

p:hover {
  background-color: var(--color3);
  color: var(--color0);
}

.body-content {
  max-width: calc(var(--unit) * 100);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  max-width: calc(var(--unit) * 160);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--unit);
  padding-top: var(--unit);
}
