/* colors from https://lospec.com/palette-list/dream-based-videogame */
:root {
  --dark: #27232a;
  --blue: #979bc7;
  --pink: #f3c0ce;
  --cream: #fae6cd;
  --unit: 8px;
}

html {
  background-color: var(--dark);
  color: var(--cream);
  font-family: "Lucida Console";
}

h1 {
  font-size: calc(var(--unit) * 4);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

h2 {
  font-size: calc(var(--unit) * 3);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

h3 {
  font-size: calc(var(--unit) * 2);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

p {
  transition: color 0.5s, background-color 0.5s;
  font-size: calc(var(--unit) * 2);
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

span {
  transition: color 0.5s, background-color 0.5s;
  font-size: calc(var(--unit) * 2);
  margin-top: 0;
  margin-bottom: calc(var(--unit) * 2);
}

hover-highlight:hover {
  background-color: var(--cream);
  color: var(--dark);
}

.body-content {
  max-width: calc(var(--unit) * 100);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  max-width: calc(var(--unit) * 160);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--unit);
  padding-top: var(--unit);
}

.expander {
  width: 0;
  display: none;
  transition: width 0.5s;
}

a.hover + expander:hover {
  width: auto;
  display: inline;
}
